button{
	background-color: #363636;


}
input{
	background-color:#363636;
	
    color: #2d753f;
    
	
	
}
.parameter{
}

body{
	background-color: #363636;
	
}


div{
	
	background-color: #606060;
	border-style: outset;
	border-color: #424242;
	border-bottom-color: #454545;
	
}

.divb{
	
	background-color: #363636;
	
}

label{
	text-align: center;
	font-family: Calibri, auto;
	font-size: large;
}

p{
	color: red;
}


img{
	
	width: 25px;
	height: 25px;
	border: double;
	margin-left:50px;
	margin-right:40px;
}

.check{
	width: 35px;
	height: 35px;
}


.divc{
	
	background-color: #606060;
}

#lohnDiv{
	float:left;
}
#betragDiv{
	float: right;
}
#firstDiv{
	float: left;
}
#secondDiv{
	float: right;
}
#thirdDiv{
	float:left;
}
#fourthDiv{
	float: right;
}
#fifthDiv{
	float:left;
}
#sixthDiv{
	/*float: right;*/
}

















